<h2>Welcome, @ViewBag.user.Username!</h2>

<p>
    <a asp-controller="Spa" asp-action="Index">Select Spa Services</a>
</p>


<!--Bonus-->
<div>
    <p>User email: @ViewBag.user.Email</p>
    <p>Date joined: @ViewBag.user.currentDateTime</p>
</div>